Lenguaje de marcas/2_trimestre/Tarea 2 - XML, DTD, SCHEMA/DTD/entrada.dtd

<!ELEMENT entradas (entrada)>
<!ELEMENT entrada (datosEvento)>
<!ATTLIST entrada ticketEvento CDATA #REQUIRED>
<!ATTLIST entrada codigo CDATA #REQUIRED>
<!ELEMENT datosEvento (fecha, lugar, ciudad, precio)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT lugar (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT precio (#PCDATA)>